body {
    font-family: Arial, sans-serif;
    height: 300vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 10fr 7fr 9fr 9fr 12fr 2fr;
    grid-template-columns: 1fr;
}

.header {
    background-color: #ADC6FF;
    grid-row: 1;
    text-align: center;
}

.flex-section {
    background-color: #F5F9E9;
    display: flex;
    padding: 20px;
}

.steffen, .feli {
    background-color: #F5F9E9;
    flex: 1;
    text-align: center;
}

.image {
    background-color: #F5F9E9;
    max-width: 40%;
    flex: 0.5;
}

#contact {
    background-color: #F5F9E9;
    text-align: center;
    grid-row-start: 5;
    padding: 20px;
}

.formular {
    background-color: #F5F9E9;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADC6FF;
    padding: 20px;
    border-radius: 10px;
}

.contact-text {
    flex: 1;
    text-align: left;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #002D72;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
}

form fieldset {
    border: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    color: white;
}

form input, form textarea, form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

form input[type="text"], form input[type="email"], form textarea {
    background-color: #FFF;
}

form textarea {
    resize: vertical;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    color: white;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox label {
    font-size: 14px;
}

.btns {
    width: 100%;
    text-align: center;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #002D72;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3064c7;
}

@media (max-width: 600px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-text {
        text-align: right;
        padding: 20px 0;
    }

    form fieldset {
        padding: 0 20px;
    }
}
