:root {
    --rectangle-width: 400px;
    --rectangleF-width: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; /* Scroll-Snap für vertikales Scrollen aktivieren */
    overflow-y: scroll; /* Scrollen aktivieren */
}

body {
    font-family: Arial, sans-serif;
    color: #02146F;
    background-color: #FFFEFA;
    width: 100%;
    display: grid;
    /*Landingpage Mission How it works About us Contact Footer*/
    grid-template-rows: 100vh 1fr 1.4fr 1.5fr 1fr 0.5fr;
    grid-template-columns: 1fr;

}

/* blaue Hintergrundfarbe der */
.underlyingbox {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 12em; /* dadurch haben alle Abschnitte einen festgelegten Abstand zueinander*/
    background-color: #EBF0FF;
    position: relative; /* Position relativ setzen für absolute Positionierung innerhalb */
    z-index: -1;
}

.section {
    scroll-snap-align: center; /* Sorgt dafür, dass die Abschnitte am Anfang snappen */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #EBF0FF;
    position: relative;
}

.LPcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.bottom-left-text {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 6em;
    margin: 0;
    padding: 10px;
    max-width: calc(100vw - 20px); /* Maximale Breite des Containers abzüglich Rand */
    overflow: hidden; /* Verhindert, dass der Text außerhalb des Containers sichtbar ist */
}

.typewriter {
    max-width: 40%; /* Maximale Breite des Containers auf 100% setzen */
    overflow: hidden; /* Verhindert, dass der Text außerhalb des Containers sichtbar ist */
    border-right: .15em solid orange; /* cursor */
    white-space: nowrap; /* verhindert Zeilenumbruch */
    margin: 0 auto; /* Zentriert den Text horizontal im Container */
    letter-spacing: .05em; /* Abstand zwischen Buchstaben */
    animation: typing 3.5s steps(10),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0; /* Animation beginnt mit einer Breite von 0 */
    }
    to {
        width: 100%; /* Animation endet mit der vollen Breite des Inhalts */
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Anfang und Ende ohne Cursor */
    }
    50% {
        border-color: orange; /* Cursor sichtbar in der Mitte der Animation */
    }
}

.middle-right-text {
    position: absolute;
    top: 50%; /* Vertikale Mitte */
    right: 25vw; /* Abstand vom rechten Rand */
    transform: translateY(-50%); /* Exakte vertikale Zentrierung */
    font-size: 1.25em;
    margin: 0;
    padding: 10px; /* Innenabstand anpassen */
}

.section-small {
    grid-row: 2;
    min-height: 50vh; /* Mindesthöhe ggf, nur Übergangsweise*/
    position: relative;
}

.mission-heading {
    position: absolute;
    left: 50%;
    top: -1.6em; /* Anpassen, um die Position der Überschrift zu steuern */
    transform: translateX(-50%);
    padding: 10px;
    color: #02146F;
    z-index: 1; /* Z-index setzen, um sicherzustellen, dass die Überschrift über dem Inhalt liegt */
    font-size: 4em;
}

.mission-text {
    position: relative;
    padding-right: calc(var(--rectangle-width) + 20px); /* Abstand zum Rechteck */
    text-align: left;
    padding-left: 10em;
    overflow-wrap: break-word;
    width: calc(100% - 420px); /* damit Text Platz für das Rechteck hat */
    display: flex;
    flex-direction: column; /* Vertikale Ausrichtung */
}

.mission-text-header {
    text-align: left;
    margin-left: -10em;
    font-size: xxx-large;
}

.rectangle {
    position: absolute;
    width: var(--rectangle-width); /* Verwendet die CSS-Variable */
    height: 450px;
    border: 4px solid #FFA500;
    overflow: hidden; /*nichts was das Rechteck überschreitet soll sichtbar sein*/
    right: -5em; /*nach rechts außen verschieben*/

}

.svg-container {
    position: absolute;
    bottom: 0; /* Am unteren Rand des Rechtecks ausrichten */
    left: 0;
    width: 100%; /* Maximale Breite des Rechtecks */
    height: auto; /* Höhe wird automatisch angepasst */
    display: flex;
    justify-content: center; /* Zentriert das SVG horizontal */
    align-items: flex-end; /* Richtet das SVG am unteren Rand des Containers aus */
}

.svg-container img {
    max-width: 100%;
    height: auto;
}

.how-it-works {
    grid-row: 3;
}

.how-it-works-heading {
    position: absolute;
    left: 50%;
    top: -1.6em; /* Anpassen, um die Position der Überschrift zu steuern */
    transform: translateX(-50%);
    padding: 10px;
    color: #02146F;
    z-index: 1; /* Z-index setzen, um sicherzustellen, dass die Überschrift über dem Inhalt liegt */
    font-size: 4em;

}

.flex-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.aboutus-container {
    grid-row: 4;
    margin-left: 10em;
    margin-right: 10em;
}

.about-us-heading {
    font-size: xxx-large;
    margin-bottom: 0;
}

#feli {
    flex-direction: row; /* Text links Bild rechts */
}

.feli-text {
    flex: 1;
    text-align: justify;
    margin-top: 50px;
}

.feli-image {
    flex: 0 0 auto;
    margin-left: 7em; /* Abstand zwischen dem Text und dem Bild */
    width: 200px;
    height: auto; /* Beibehaltung des Seitenverhältnisses */
}

#steffen {
    flex-direction: row-reverse; /* Bild links Text rechts */
}

.steffen-text {
    flex: 1;
    text-align: justify;
    margin-top: 20px;
}

.steffen-image {
    flex: 0 0 auto;
    margin-right: 7em; /* Abstand zwischen dem Bild und dem Text*/
    width: 300px;
    height: auto; /* Beibehaltung des Seitenverhältnisses */
}

#contact {
    text-align: center;
    grid-row-start: 5;
    padding: 20px;
}

.formular {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBF0FF;
    padding: 40px;
    border-radius: 10px;
}

.contact-text {
    flex: 1;
    text-align: left;
    padding: 20px;
    font-size: 46px; /* Schriftgröße erhöhen */
    font-weight: bold;
    color: #002D72;
    line-height: 1.2; /* Zeilenhöhe anpassen für mehr Abstand */
    max-width: 400px; /* Maximalbreite setzen, um Zeilenumbruch zu ermöglichen */
}

.contact-text h1 {
    margin: 0;
    overflow-wrap: break-word;
    width: calc(100% - 420px); /* damit Text Platz für das Rechteck hat */
    display: flex;
    flex-direction: row; /* Vertikale Ausrichtung */
}

.contact-text h1 + h1 {
    margin-top: 2px; /* Abstand zwischen den Überschriften */
}

form {
    grid-row: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* Notwendig, um das Rechteck relativ zu positionieren */
}

.rectangle-form {
    position: absolute;
    top: calc(45% + 20px); /* rechteck nach unten verschieben */
    transform: translateY(-50%); /* vertikal zentrieren*/
    right: calc(65% - (var(--rectangleF-width) / 2)); /* horizontale ausrichtung*/
    width: var(--rectangleF-width); /* Verwendet die neue CSS-Variable */
    height: 300px; /* Höhe des Rechtecks */
    border: 4px solid #FFA500;
    z-index: 0; /* Stellt sicher, dass das Rechteck hinter dem Formularinhalt bleibt */
    overflow: hidden; /*verhindern dass Text außerhalb dargestellt wird*/
}

form fieldset {
    border: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    color: rgb(0, 0, 0);
}

form input, form textarea, form button {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

form input[type="text"], form input[type="email"], form textarea {
    background-color: #FFF;
}

form textarea {
    resize: none;
    overflow: auto;
    max-height: 5rem;
    min-height: 5rem;
}

/*.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    color: white;
}*/

/*.checkbox input[type="checkbox"] {
    margin-right: 10px;
} */

/*.checkbox label {
    font-size: 14px;
}*/

.btns {
    margin-left: 300px;
    width: 20%;
    text-align: right;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #EBF0FF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3064c7;
}


@media (max-width: 600px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-text {
        text-align: left;
        padding: 20px 0;
    }

    form fieldset {
        padding: 0 20px;
    }
}

.form-heading {
    position: absolute;
    left: 50%;
    top: -1.6em; /* Anpassen, um die Position der Überschrift zu steuern */
    transform: translateX(-50%);
    padding: 10px;
    color: #02146F;
    z-index: 1; /* Z-index setzen, um sicherzustellen, dass die Überschrift über dem Inhalt liegt */
    font-size: 4em;
}

.footer {
    background-color: #FFA500;
    grid-row: auto;
    text-align: center;
    margin: 2em 0 0;
    min-height: 75px;
}
